<h1>I am Flaschen Taschen typewriter</h1>
<h2>Say something:</h2>

<%=form_tag do -%>
	<%= text_field_tag :text %>
	<div>
		<input id="speed" type="range" name="speed" value="60" min="1" max="100" />
		<div id="speedFeedback"></div>
	</div>

	<% javascript_include_tag "jscolor.js" => true %>
	<!-- <script src="jscolor.js"></script> -->
	Color: <input class="jscolor" value="f41325" name="color">
	
	<!-- a POST request is sent from the browser to the server via the routes and is calling the create method of TextsController-->
	<div>
		<%= submit_tag "Send to Flaschen Taschen" %> 
	</div>
<% end -%>

<script type="text/javascript">
	var slider = document.getElementById("speed");
	var feedback = document.getElementById("speedFeedback");
	feedback.textContent = slider.value;
	slider.addEventListener("input", function() {
	  feedback.textContent = slider.value;
	});
</script>
